certifi==2019.9.11
chardet==3.0.4
idna==2.8
requests==2.22.0
skype-chatbot==1.0.4
urllib3==1.26.5
Pillow==9.0.1
bleach==3.3.0
beautifulsoup4==4.8.0
flask==1.1.1
psycopg2==2.8.3
psycopg2-binary==2.8.3
